[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
httpx = "*"
python-dotenv = "*"
pyyaml = "*"
python-dateutil = "*"

[dev-packages]
isort = "*"
mypy = "*"
types-pyyaml = "*"
types-python-dateutil = "*"
flake8 = "*"
flake8-bugbear = "*"
pytest = "*"

[requires]
python_version = "3.11"
