name: Run Tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - main
      - develop

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.all.txt

      - name: Run tests
        run: pytest ./tests/ -vv

      - name: Run Black
        uses: psf/black@stable
        with:
          options: "--check"
          src: "."
          version: "23.1.0"
